.glitchContainer {
  @apply w-full relative overflow-hidden h-[100vh] z-20;

  .imageSlider {
    @apply relative w-screen h-screen overflow-hidden opacity-0 pointer-events-none transition-opacity duration-[1500ms];

    &.loaded {
      @apply opacity-100 pointer-events-auto;
    }

    .webglCanvas {
      @apply block w-full h-full absolute top-0 left-0 z-1;
    }

    .featuredImage {
      @apply absolute left-1/2 z-2 w-[85%] h-[30%] md:w-[35%] md:h-[40%] top-1/2 -translate-x-1/2 -translate-y-1/2;
      left: calc(50% - 20px) overflow-x-hidden;

      .featuredImageWrapper {
        @apply absolute top-0 left-0 w-full h-full will-change-[clip-path];
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }

    .slideText {
      @apply absolute z-2 text-primary-text top-[18%] left-[87%] mSm:left-[95%] lSm:left-[75%] llSm:left-[67%] md:top-[12%] md:left-[37%] lg:left-[28%] xl:left-[22%] 2xl:left-[19%] -translate-x-1/2 -translate-y-1/2;

      .slideNumber {
        @apply relative overflow-hidden mb-1 w-[500px] h-5 3xl:h-8;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

        span {
          @apply absolute top-0 left-0 uppercase whitespace-nowrap w-full m-0 p-0 text-primary-text font-mono text-[12px] lg:text-sm xl:text-base 2xl:text-lg 2xlM:text-xl 3xl:text-2xl font-bold leading-[1.5] tracking-wide-2 translate-y-0 will-change-transform;
          -webkit-text-stroke: 0.1px #000;
          text-stroke: 0.1px #000;
        }
      }

      .slideTitle {
        @apply relative overflow-hidden mb-1 w-auto md:w-[300px] lg:w-[300px] 2xl:w-[500px] 3xl:w-750px h-[30px] lg:h-[35px] xl:h-[40px] 2xl:h-[45px] 3xl:h-20;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

        h1 {
          @apply absolute top-0 left-0 m-0 p-0 whitespace-nowrap w-fit text-primary-text font-sans text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 2xlM:text-5xl 3xl:text-6xl font-semibold leading-[1.2] tracking-tight-2 border-b-2 border-primary-text translate-y-0 will-change-transform;
          -webkit-text-stroke: 1.2px #000;
          text-stroke: 1.2px #000;
        }
      }

      .slideDescription {
        @apply relative overflow-hidden w-[80%] md:w-[300px] lg:w-[300px] 2xl:w-[500px] 3xl:w-750px h-[24px] 3xl:h-[40px];
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

        p {
          @apply absolute top-0 left-0 uppercase m-0 p-0 whitespace-nowrap w-full text-primary-text font-mono text-[10px] lg:text-sm xl:text-base 2xl:text-lg 2xlM:text-xl 3xl:text-2xl font-bold leading-[1.2] tracking-wide-1 translate-y-0 will-change-transform;
          -webkit-text-stroke: 0.2px #000;
          text-stroke: 0.2px #000;
        }
      }
    }

    .slideProperties {
      @apply absolute overflow-hidden z-2 text-primary-text w-[500px] md:w-[200px] lg:w-[300px] xl:w-[400px] 2xl:w-[450px] 3xl:w-[700px] top-[80%] left-[87%] mSm:left-[95%] lSm:left-[75%] llSm:left-[67%] md:top-1/2 md:left-[18%] lg:left-[18%] xl:left-[18%] 2xl:left-[17%] 3xl:left-[18%] -translate-x-1/2 -translate-y-1/2 tracking-widest lg:text-lg xl:text-xl 2xl:text-2xl 3xl:text-5xl;

      .slidePropertyLine {
        @apply relative w-full overflow-hidden mb-1 h-[30px] md:h-[25px] lg:h-[30px] xl:h-[35px] 2xl:h-[45px] 3xl:h-[75px];
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

        &:last-child {
          @apply mb-0;
        }

        &:has(span:empty) {
          @apply hidden;
        }

        span {
          @apply block absolute top-0 left-0 whitespace-nowrap w-full m-0 p-0 text-primary-text font-sans font-semibold leading-[2] translate-y-0 will-change-[transform];
          -webkit-text-stroke: 1.2px #000;
          text-stroke: 1.2px #000;
        }
      }
    }

    .slideParagraph {
      @apply absolute overflow-hidden z-[2] text-primary-text md:w-[230px] lg:w-[300px] xl:w-[380px] 2xl:w-[430px] 3xl:w-[750px] md:h-[220px] lg:h-[180px] xl:h-[250px] 3xl:h-[450px] bottom-[10%] md:right-[17%] lg:right-[17%] xl:right-[16%] xl:bottom-[15%] 2xl:right-[16%] 2xl:bottom-[15%] 2xlM:bottom-[15%] 3xl:right-[17%] 3xl:bottom-[17%] lg:text-lg xl:text-xl 2xl:text-2xl 3xl:text-5xl  translate-x-1/2 -translate-y-1/2 max-md:hidden;

      .slideParagraphLine {
        @apply relative w-full h-full overflow-hidden mb-2 tracking-wider text-justify;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

        &:first-child {
          @apply md:h-[30px] lg:h-[40px] 3xl:h-[75px];
        }

        &:last-child {
          @apply mb-0;
        }

        span {
          @apply block absolute top-0 left-0 m-0 p-0 w-full text-primary-text font-sans font-semibold leading-[1.4] translate-y-0 will-change-transform whitespace-normal;
          -webkit-text-stroke: 1.2px #000;
          text-stroke: 1.2px #000;
        }
      }
    }

    .topCenterText {
      @apply fixed left-1/2 top-4 3xl:top-8 -translate-x-1/2 uppercase pointer-events-none z-2 text-primary-text font-mono text-[10px] minTab:text-[12px] 2xl:text-[14px] 3xl:text-xl font-bold tracking-wide-4 opacity-0;
      -webkit-text-stroke: 0.1px #000;
      text-stroke: 0.1px #000;
    }

    .bottomCenterText {
      @apply fixed left-1/2 bottom-4 3xl:bottom-8 -translate-x-1/2 pointer-events-none z-2 text-primary-text font-sans text-[10px] minTab:text-[12px] 2xl:text-[14px] 3xl:text-xl font-medium tracking-wide-2 opacity-0 font-semibold;
      -webkit-text-stroke: 0.1px #000;
      text-stroke: 0.1px #000;
    }

    .cornerText {
      @apply fixed uppercase pointer-events-none z-1 text-primary-text font-mono text-[12px] tracking-wide-2 leading-[1.5];

      div {
        @apply mb-1;
      }

      &.cornerTextTopLeft {
        @apply top-8 left-8;
      }

      &.cornerTextTopRight {
        @apply text-right top-8 right-8;
      }

      &.cornerTextBottomLeft {
        @apply bottom-8 left-8;
      }

      &.cornerTextBottomRight {
        @apply text-right bottom-8 right-8;
      }

      &.cornerTextShortcuts {
        @apply left-8 text-left text-[10px] top-1/2 -translate-y-1/2;
      }

      &.cornerTextCenter {
        @apply text-center flex flex-col justify-between h-[80vh] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
      }
    }
  }
}
