.glitchContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100vh;
  z-index: 20;
  
  /* Glitch WebGL animations are optimized based on device capability:
     - Low capability: Pixel ratio 1, no antialias, 1024px max texture, 50% effect intensity, nearest filtering
     - Medium capability: Pixel ratio 1.5, no antialias, 2048px max texture, 75% effect intensity, linear filtering
     - High capability: Pixel ratio 2, antialias enabled, 4096px max texture, 100% effect intensity, linear filtering */

  .imageSlider {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1500ms;

    &.loaded {
      opacity: 1;
      pointer-events: auto;
    }

    .webglCanvas {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .featuredImage {
      position: absolute;
      left: 50%;
      z-index: 2;
      width: 85%;
      height: 30%;
      top: 50%;
      transform: translate(-50%, -50%);
      left: calc(50% - 20px);
      overflow: hidden;

      @media (min-width: 768px) {
        width: 35%;
        height: 40%;
      }

      .featuredImageWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        will-change: clip-path;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }

    .slideText {
      position: absolute;
      z-index: 2;
      color: var(--color-text, #ffffff);
      top: 18%;
      left: 87%;
      transform: translate(-50%, -50%);

      @media (max-width: 480px) {
        left: 95%;
      }

      @media (min-width: 530px) {
        left: 75%;
      }

      @media (min-width: 576px) {
        left: 67%;
      }

      @media (min-width: 768px) {
        top: 12%;
        left: 37%;
      }

      @media (min-width: 1024px) {
        left: 28%;
      }

      @media (min-width: 1280px) {
        left: 22%;
      }

      @media (min-width: 1536px) {
        left: 19%;
      }

      .slideNumber {
        position: relative;
        overflow: hidden;
        margin-bottom: 0.25rem;
        width: 500px;
        height: 1.25rem;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

        @media (min-width: 1920px) {
          height: 2rem;
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          text-transform: uppercase;
          white-space: nowrap;
          width: 100%;
          margin: 0;
          padding: 0;
          color: var(--color-text, #ffffff);
          font-family: var(--font-mono, monospace);
          font-size: 12px;
          font-weight: bold;
          line-height: 1.5;
          letter-spacing: 0.1em;
          transform: translateY(0);
          will-change: transform;
          /* -webkit-text-stroke: 0.1px #000; */

          @media (min-width: 1024px) {
            font-size: 0.875rem;
          }

          @media (min-width: 1280px) {
            font-size: 1rem;
          }

          @media (min-width: 1536px) {
            font-size: 1.125rem;
          }

          @media (min-width: 1600px) {
            font-size: 1.25rem;
          }

          @media (min-width: 1920px) {
            font-size: 1.5rem;
          }
        }
      }

      .slideTitle {
        position: relative;
        overflow: hidden;
        margin-bottom: 0.25rem;
        width: auto;
        height: 30px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

        @media (min-width: 768px) {
          width: 300px;
        }

        @media (min-width: 1024px) {
          width: 300px;
          height: 65px;
        }

        @media (min-width: 1280px) {
          height: 65px;
        }

        @media (min-width: 1536px) {
          width: 500px;
          height: 65px;
        }

        @media (min-width: 1920px) {
          width: 750px;
          height: 5rem;
        }

        h1 {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          padding: 0;
          white-space: nowrap;
          width: fit-content;
          color: var(--color-text, #ffffff);
          font-family: var(--font-sans, sans-serif);
          font-size: 1.25rem;
          font-weight: 600;
          line-height: 1.2;
          letter-spacing: -0.025em;
          border-bottom: 2px solid var(--color-text, #ffffff);
          transform: translateY(0);
          will-change: transform;
          /* -webkit-text-stroke: 1.2px #000; */

          @media (min-width: 1024px) {
            font-size: 1.5rem;
          }

          @media (min-width: 1280px) {
            font-size: 1.875rem;
          }

          @media (min-width: 1536px) {
            font-size: 2.25rem;
          }

          @media (min-width: 1600px) {
            font-size: 3rem;
          }

          @media (min-width: 1920px) {
            font-size: 3.75rem;
          }
        }
      }

      .slideDescription {
        position: relative;
        overflow: hidden;
        width: 80%;
        height: 24px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

        @media (min-width: 768px) {
          width: 300px;
        }

        @media (min-width: 1024px) {
          width: 300px;
        }

        @media (min-width: 1536px) {
          width: 500px;
        }

        @media (min-width: 1920px) {
          width: 750px;
          height: 40px;
        }

        p {
          position: absolute;
          top: 0;
          left: 0;
          text-transform: uppercase;
          margin: 0;
          padding: 0;
          white-space: nowrap;
          width: 100%;
          color: var(--color-text, #ffffff);
          font-family: var(--font-mono, monospace);
          font-size: 10px;
          font-weight: bold;
          line-height: 1.2;
          letter-spacing: 0.05em;
          transform: translateY(0);
          will-change: transform;
          /* -webkit-text-stroke: 0.2px #000; */

          @media (min-width: 1024px) {
            font-size: 0.875rem;
          }

          @media (min-width: 1280px) {
            font-size: 1rem;
          }

          @media (min-width: 1536px) {
            font-size: 1.125rem;
          }

          @media (min-width: 1600px) {
            font-size: 1.25rem;
          }

          @media (min-width: 1920px) {
            font-size: 1.5rem;
          }
        }
      }
    }

    .slideProperties {
      position: absolute;
      overflow: hidden;
      z-index: 2;
      color: var(--color-text, #ffffff);
      width: 500px;
      top: 80%;
      left: 87%;
      transform: translate(-50%, -50%);
      letter-spacing: 0.1em;
      font-size: 1.125rem;

      @media (max-width: 480px) {
        left: 95%;
      }

      @media (min-width: 530px) {
        left: 75%;
      }

      @media (min-width: 576px) {
        left: 67%;
      }

      @media (min-width: 768px) {
        width: 200px;
        top: 50%;
        left: 18%;
      }

      @media (min-width: 1024px) {
        width: 300px;
        left: 18%;
        font-size: 1.125rem;
      }

      @media (min-width: 1280px) {
        width: 400px;
        left: 18%;
        font-size: 1.25rem;
      }

      @media (min-width: 1536px) {
        width: 450px;
        left: 17%;
        font-size: 1.5rem;
      }

      @media (min-width: 1920px) {
        width: 700px;
        left: 18%;
        font-size: 3rem;
      }

      .slidePropertyLine {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-bottom: 0.25rem;
        height: 30px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

        @media (min-width: 768px) {
          height: 25px;
        }

        @media (min-width: 1024px) {
          height: 30px;
        }

        @media (min-width: 1280px) {
          height: 35px;
        }

        @media (min-width: 1536px) {
          height: 45px;
        }

        @media (min-width: 1920px) {
          height: 75px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:has(span:empty) {
          display: none;
        }

        span {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          white-space: nowrap;
          width: 100%;
          margin: 0;
          padding: 0;
          color: var(--color-text, #ffffff);
          font-family: var(--font-sans, sans-serif);
          font-weight: 600;
          line-height: 2;
          transform: translateY(0);
          will-change: transform;
          -webkit-text-stroke: 1.2px #000;
        }
      }
    }

    .slideParagraph {
      position: absolute;
      overflow: hidden;
      z-index: 2;
      color: var(--color-text, #ffffff);
      font-size: 1.125rem;
      transform: translate(50%, -50%);
      display: none;

      @media (min-width: 768px) {
        display: block;
        width: 230px;
        height: 220px;
        bottom: 10%;
        right: 17%;
        font-size: 1.125rem;
      }

      @media (min-width: 1024px) {
        width: 300px;
        height: 180px;
        right: 17%;
        font-size: 1.125rem;
      }

      @media (min-width: 1280px) {
        width: 380px;
        height: 250px;
        right: 16%;
        bottom: 15%;
        font-size: 1.25rem;
      }

      @media (min-width: 1536px) {
        width: 430px;
        right: 16%;
        bottom: 15%;
        font-size: 1.5rem;
      }

      @media (min-width: 1600px) {
        bottom: 15%;
      }

      @media (min-width: 1920px) {
        width: 750px;
        height: 450px;
        right: 17%;
        bottom: 17%;
        font-size: 3rem;
      }

      .slideParagraphLine {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-bottom: 0.5rem;
        letter-spacing: 0.05em;
        text-align: justify;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

        &:first-child {
          @media (min-width: 768px) {
            height: 30px;
          }

          @media (min-width: 1024px) {
            height: 40px;
          }

          @media (min-width: 1920px) {
            height: 75px;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        span {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          padding: 0;
          width: 100%;
          color: var(--color-text, #ffffff);
          font-family: var(--font-sans, sans-serif);
          font-weight: 600;
          line-height: 1.4;
          transform: translateY(0);
          will-change: transform;
          white-space: normal;
          -webkit-text-stroke: 1.2px #000;
        }
      }
    }

    .topCenterText {
      position: fixed;
      left: 50%;
      top: 1rem;
      transform: translateX(-50%);
      text-transform: uppercase;
      pointer-events: none;
      z-index: 2;
      color: var(--color-text, #ffffff);
      font-family: var(--font-mono, monospace);
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0.2em;
      opacity: 0;
      /* -webkit-text-stroke: 0.1px #000; */

      @media (min-width: 768px) {
        font-size: 12px;
      }

      @media (min-width: 1536px) {
        font-size: 14px;
      }

      @media (min-width: 1920px) {
        top: 2rem;
        font-size: 1.25rem;
      }
    }

    .bottomCenterText {
      position: fixed;
      left: 50%;
      bottom: 1rem;
      transform: translateX(-50%);
      pointer-events: none;
      z-index: 2;
      color: var(--color-text, #ffffff);
      font-family: var(--font-sans, sans-serif);
      font-size: 10px;
      font-weight: 600;
      letter-spacing: 0.1em;
      opacity: 0;
      /* -webkit-text-stroke: 0.1px #000; */

      @media (min-width: 768px) {
        font-size: 12px;
      }

      @media (min-width: 1536px) {
        font-size: 14px;
      }

      @media (min-width: 1920px) {
        bottom: 2rem;
        font-size: 1.25rem;
      }
    }

    .cornerText {
      position: fixed;
      text-transform: uppercase;
      pointer-events: none;
      z-index: 1;
      color: var(--color-text, #ffffff);
      font-family: var(--font-mono, monospace);
      font-size: 12px;
      letter-spacing: 0.1em;
      line-height: 1.5;

      div {
        margin-bottom: 0.25rem;
      }

      &.cornerTextTopLeft {
        top: 2rem;
        left: 2rem;
      }

      &.cornerTextTopRight {
        text-align: right;
        top: 2rem;
        right: 2rem;
      }

      &.cornerTextBottomLeft {
        bottom: 2rem;
        left: 2rem;
      }

      &.cornerTextBottomRight {
        text-align: right;
        bottom: 2rem;
        right: 2rem;
      }

      &.cornerTextShortcuts {
        left: 2rem;
        text-align: left;
        font-size: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &.cornerTextCenter {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
